

<!DOCTYPE html>
<html lang="en" class="no-touch is-preload">
<head>

    <title>CediCube. - Your freedom in finance</title>
    <meta name="author" content="CediCube Finance">
    <meta name="description" content="CediCube is Ghana's prefered online money lending platform using technology to empower the people">
    <meta property="og:site_name" content="CediCube.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://cedicube.com">

    <meta property="og:image" content="/assets/cedicube.png">
    <meta property="og:description" content="CediCube is Ghana's prefered online money lending platform using technology to empower the people.">
    <meta property="og:title" content="CediCube. - Your freedom in finance">
    <meta name="twitter:domain" content="cedicube.com">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@cedicube">
    <meta name=" twitter:creator" content="@cedicube">


    <meta name="twitter:url" content="https://cedicube.com">
    <meta name="twitter:title" content="CediCube. - Your freedom in finance">
    <meta name="twitter:description" content="CediCube is Ghana's prefered online money lending platform using technology to empower the people..">
    <meta name="twitter:image" content="/assets/cedicube.png">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <meta name="msapplication-config" content="~/img/favicon/browserconfig.xml" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">

    <title>CediCube.</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <!-- theme styles -->
    <link href="/assets/NewMain.css" rel="stylesheet" />
    
</head>
<body>

    <!--l-wrapper-->
    <div id="mainWrapper" class="l-wrapper">

        <!--c-navbar-->
        <nav class="c-navbar">

            <!--c-navbar__header-->
            <div class="c-navbar__header">

                <!--l-container-->
                <div class="l-container container">

                    <a class="c-navbar__brand" href="#" title="CediCube.">CediCube.</a>

                    <button id="navToggler" class="c-navbar__toggler" type="button">
                        <span class="c-navbar__toggler-text">Menu</span>
                    </button>

                </div>
                <!--/l-container-->

            </div>
            <!--/c-navbar__header-->
            <!--c-navbar__collapse-->
            <div class="c-navbar__collapse">

                <!--l-container-->
                <div class="l-container container">

                    <!--c-navbar__links-->
                    <div class="c-navbar__links">
                        <a class="c-navbar__link" href="">Get CediCube</a>
                    </div>
                    <!--/c-navbar__links-->
                    <!--c-navbar__nav-->
                    <ul class="c-navbar__nav c-nav">
                        <li class="c-nav__item">
                            <a target="_blank" class="c-nav__link is-active" href="">Blog</a>
                        </li>
                        <li class="c-nav__item">
                            <a class="c-nav__link" href="#Support">Support</a>
                        </li>
                    </ul>
                    <!--/c-navbar__nav-->

                </div>
                <!--/l-container-->

            </div>
            <!--/c-navbar__collapse-->

        </nav>
        <!--/c-navbar-->
        <!--c-promo-->
        <section class="c-promo c-promo--landing">

            <!--l-container-->
            <div class="l-container container">

                <!--c-promo__body-->
                <div class="c-promo__body">

                    <h1 class="c-promo__title t-primary">No more<br> money problem. We are here for you.</h1>
                    <div class="c-promo__img">
                        <span class="c-promo__pic c-promo__pic--phone"></span>
                        <!-- <span class="c-promo__pic c-promo__pic--card"></span> -->
                    </div>
                    <p class="c-promo__descr">Most banks and microfinance exist not in your interest. We're not most banks. CediCube is designed for your smartphone, free of ridiculous interest and processing charges and great at helping you budget, spend smartly and liberate your from financial difficulties.</p>
                    <h5 class="c-promo__label t-primary">Need a loan? Liberate yourself with CediCube.</h5>
                    <a class="c-promo__btn c-btn c-btn--secondary" href="">Get CediCube</a>

                </div>
                <!--/c-promo__body-->

                <button class="c-promo__down" type="button" data-target="#promoApp" onclick="document.querySelector(this.dataset.target).scrollIntoView({ behavior: 'smooth' });">Scroll down</button>

            </div>
            <!--/l-container-->

        </section>
        <!--c-promo-->
        <!--c-promo-->
        <section class="c-promo c-promo--app" id="promoApp">

            <!--l-container-->
            <div class="l-container container">

                <!--c-promo__body-->
                <div class="c-promo__body">

                    <h1 class="c-promo__title t-muted is-animated is-animated--active">
                        <span class="c-promo__title-item">Your phone +</span>
                        <span class="c-promo__title-item">Our app =</span>
                        <span class="c-promo__title-container" style="width: 9em;">
                            <b class="c-promo__title-item t-secondary is-sliding">Fast Loans.</b>
                            <b class="c-promo__title-item t-secondary is-sliding">Low Interests.</b>
                            <b class="c-promo__title-item t-secondary is-sliding">Large Sums.</b>
                        </span>
                    </h1>
                    <h5 class="c-promo__label t-primary is-animated is-animated--active">You’re always on your phone. <span class="c-promo__label-item">So is CediCube.</span></h5>
                    <p class="c-promo__descr is-animated is-animated--active">Download the app or use our web platform, sign up in minutes and quickly apply for your loan. That’s all you need to make the right money moves. No sweat.</p>

                </div>
                <!--/c-promo__body-->

            </div>
            <!--/l-container-->

        </section>
        <!--c-promo-->
        <!--c-promo-->
        <section class="c-promo c-promo--control bg-muted">

            <!--l-container-->
            <div class="l-container container">

                <!--c-promo__body-->
                <div class="c-promo__body">

                    <h5 class="c-promo__label t-primary">Salary Topups, School fees, Business expansion. It’s up to you.</h5>
                    <h1 class="c-promo__title t-primary">Liberate Yourself.<br> Make multiples and solve your own problems.</h1>
                    <div class="c-promo__img">
                        <span class="c-promo__pic c-promo__pic--img"></span>
                        <span class="c-promo__pic c-promo__pic--square-1"></span>
                        <span class="c-promo__pic c-promo__pic--square-2"></span>
                        <span class="c-promo__pic c-promo__pic--square-3"></span>
                    </div>
                    <p class="c-promo__descr">Whatever you want to do with your money, we dont control it. We only require the trust you pay back to qualify for even more higher loans. We’ll make sure it’s done better and hassle-free.</p>

                </div>
                <!--/c-promo__body-->

            </div>
            <!--/l-container-->

        </section>
        <!--c-promo-->
        <!--c-promo-->
     
        <!--c-promo-->
        <!--c-promo-->
        <section id="pageSteps" class="c-promo c-promo--steps bg-muted">

            <!--l-container-->
            <div class="l-container container">

                <!--c-promo__body-->
                <div class="c-promo__body">

                    <h5 class="c-promo__label t-primary">Completely paperless. Sign up anywhere.</h5>
                    <p class="c-promo__descr">You dont have to come to our office You only need our mobile app or our web app.<br> Seen, CediCube makes it easier for you:</p>

                    <!--c-carousel-->
                    <div id="carouselSteps" class="carousel slide carousel-fade carousel-steps" data-interval="false" data-wrap="false">

                        <!--carousel-inner-->
                        <div class="carousel-inner">

                            <!--carousel-item-->
                            <div class="carousel-item active" data-title="01">
                                <h1 class="c-promo__title t-primary bg-muted">Download the app on Google Play or the App Store.</h1>
                                <div class="c-promo__img">
                                    <img src="/assets/the-bank-of-the-free.png" alt="">
                                </div>
                            </div>
                            <!--/carousel-item-->
                            <!--carousel-item-->
                            <div class="carousel-item" data-title="02">
                                <h1 class="c-promo__title t-primary bg-muted">Give us a few details about yourself to verify you.</h1>
                                <div class="c-promo__img">
                                    <img src="/assets/the-bank-of-the-free.png" alt="">
                                </div>
                            </div>
                            <!--/carousel-item-->
                            <!--carousel-item-->
                            <div class="carousel-item" data-title="03">
                                <h1 class="c-promo__title t-primary bg-muted">Complete Profile and just click to apply for your loan.</h1>
                                <div class="c-promo__img">
                                    <img src="/assets/the-bank-of-the-free.png" alt="">
                                </div>
                            </div>
                            <!--/carousel-item-->
                            <!--carousel-item-->
                            <div class="carousel-item" data-title="04">
                                <h1 class="c-promo__title t-primary bg-muted">Pay back your loan with ease.</h1>
                                <div class="c-promo__img">
                                    <img src="/assets/the-bank-of-the-free.png" alt="">
                                </div>
                            </div>
                            <!--/carousel-item-->

                        </div>
                        <!--/carousel-inner-->

                        <div class="c-indicators">
                            <b class="c-indicators__label">Step <span class="c-indicators__value">01</span></b>
                            <ol class="c-indicators__list carousel-indicators">
                                <li class="c-indicators__item active" data-target="#carouselSteps" data-slide-to="0">01</li>
                                <li class="c-indicators__item" data-target="#carouselSteps" data-slide-to="1">02</li>
                                <li class="c-indicators__item" data-target="#carouselSteps" data-slide-to="2">03</li>
                                <li class="c-indicators__item" data-target="#carouselSteps" data-slide-to="3">04</li>
                            </ol>
                        </div>

                    </div>
                    <!--/c-carousel-->

                    <ul class="c-apps">
                        <li class="c-apps__item">
                            <a class="c-apps__link" href="">
                                <img class="c-apps__img" src="/assets/app-app-store.png" alt="">
                            </a>
                        </li>
                        <li class="c-apps__item">
                            <a class="c-apps__link" href="">
                                <img class="c-apps__img" src="/assets/app-google-play.png" alt="">
                            </a>
                        </li>
                    </ul>

                </div>
                <!--/c-promo__body-->

            </div>
            <!--/l-container-->

        </section>
        <!--c-promo-->
        <!--c-promo-->
        <section class="c-promo c-promo--security">

            <!--l-container-->
            <div class="l-container container">

                <!--c-promo__container-->
                <div class="c-promo__container">

                    <h1 class="c-promo__title t-primary">Your Digital Finance Partner.<br> We respect our clients privacy & security.</h1>
                    <div class="c-article-list row">
                        <div class="col-lg-4 c-article">
                            <figure class="c-article_img">
                                <img src="/assets/promo-security-insured.png" alt="">
                            </figure>
                            <strong class="c-article_title t-primary">Insured</strong>
                            <p class="c-article_descr">Rest assured, CediCube is licensed by the Bank of Ghana to operate our business.</p>
                        </div>
                        <div class="col-lg-4 c-article">
                            <figure class="c-article_img">
                                <img src="/assets/promo-security-lost.png" alt="">
                            </figure>
                            <strong class="c-article_title t-primary">Close to Defaulting</strong>
                            <p class="c-article_descr">Life happens. When having issues paying back your loan just notify us. As simple as that.</p>
                        </div>
                        <div class="col-lg-4 c-article">
                            <figure class="c-article_img">
                                <img src="/assets/promo-security-prevention.png" alt="">
                            </figure>
                            <strong class="c-article_title t-primary">Prevention</strong>
                            <p class="c-article_descr">CediCube security protects your sensitive personal information and prevents unauthorized use.</p>
                        </div>
                    </div>

                </div>
                <!--/c-promo__container-->

            </div>
            <!--/l-container-->

        </section>
        <!--c-promo-->
        <!--c-promo-->
        <section class="c-promo c-promo--support bg-muted" id="Support">

            <!--l-container-->
            <div class="l-container container">

                <!--c-promo__body-->
                <div class="c-promo__body">

                    <h1 class="c-promo__title t-primary">Need help?<br> Just reach out.</h1>
                    <p class="c-promo__descr">We’re always here for you. We might exist in an app but we don't leave our customers hanging. Everything about us is on the app, but if you ever need help (or you just want to chat), we’ve got you.</p>
                    <p class="c-promo__hint t-primary">Call us on <b>+233 559 336 599</b> <span class="c-promo__hint-item">or email <a href="mailto:help@cedicube.com"><b>help@cedicube.com</b></a></span></p>

                    <p class="c-social">
                        <a target="_blank" class="c-social__link fab fa-twitter" href="https://twitter.com/cedicube">Twitter</a>
                        <a target="_blank" class="c-social__link fab fa-facebook-f" href="https://facebook.com/cedicube">Facebook</a>
                        <a target="_blank" class="c-social__link fab fa-medium-m" href="">Medium</a>
                        <a target="_blank" class="c-social__link fab fa-instagram" href="https://www.instagram.com/cedicube/">Instagram</a>
                    </p>

                    <div class="c-promo__img">
                        <span class="c-promo__pic c-promo__pic--img"></span>
                    </div>

                </div>
                <!--/c-promo__body-->

            </div>
            <!--/l-container-->

        </section>
        <!--c-promo-->
        <!--c-promo-->
        <section class="c-promo c-promo--more">

            <!--l-container-->
            <div class="l-container container">

                <!--c-promo__body-->
                <div class="c-promo__body">

                    <h5 class="c-promo__label t-primary">Never get yourself in a financial difficuly again.</h5>
                    <h1 class="c-promo__title t-primary">Need more reasons to liberate yourself</h1>
                    <ul class="c-promo__list">
                        <li class="c-promo__list-item">Pay your loans early to recieve discount in your next.</li>
                        <li class="c-promo__list-item">Refer others and earn discounts.</li>
                        <li class="c-promo__list-item">Longer installation payment terms.</li>
                    </ul>

                    <div class="c-promo__img">
                        <span class="c-promo__pic c-promo__pic--img"></span>
                    </div>

                </div>
                <!--/c-promo__body-->

            </div>
            <!--/l-container-->

        </section>
        <!--c-promo-->
        <!--c-promo-->
        <section class="c-partner container">
            <div class="row">
                <div class="col c-partner__download p-4 pb-5 pt-5">
                    <div class="row">
                        <div class="col col-md-8 offset-md-2">
                            <h1 class="text-center pb-2 pl-5 pr-5 mr-3 ml-3">
                                You still want to have that money ? Download our app and start getting your loan.
                            </h1>
                        </div>
                    </div>

                    <div class="c-partner__stores text-center">
                        <a href="" target="_blank"><img class="mr-1 pb-3" src="assets/app-google-play-bordered.svg" alt=""></a>
                        <a href="" target="_blank"><img class="ml-1 pb-3" src="assets/app-app-store-bordered.svg" alt=""></a>
                    </div>
                </div>
            </div>

        </section>
        <!--c-promo-->
        <!--c-footer-->
        <footer class="c-footer">

            <!--l-container-->
            <div class="l-container container">

                <div class="row">
                    <div class="col-6 col-md-3">
                        <h4 class="c-footer__title">About us</h4>
                        <ul class="c-footer__links c-links">
                            <li class="c-links__item">
                                <a class="c-links__link" href="#">Blog</a>
                            </li>
                            <li class="c-links__item">
                                <a class="c-links__link" href="#">Press</a>
                            </li>
                            <li class="c-links__item">
                                <a class="c-links__link" target="_blank" href="">Join our team</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3">
                        <h4 class="c-footer__title">Support</h4>
                        <ul class="c-footer__links c-links">
                            <li class="c-links__item">
                                <a class="c-links__link" href="/Faq">FAQs</a>
                            </li>
                            <li class="c-links__item">
                                <a class="c-links__link" href="/Contact">Contact us</a>
                            </li>
                            <li class="c-links__item">
                                <a class="c-links__link" href="#">Security</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3">
                        <h4 class="c-footer__title">Transparency</h4>
                        <ul class="c-footer__links c-links">
                            <li class="c-links__item">
                                <a class="c-links__link" href="/Fees">Interests</a>
                            </li>
                            <li class="c-links__item">
                                <a class="c-links__link" href="/Privacy">Privacy Policy</a>
                            </li>
                            <li class="c-links__item">
                                <a class="c-links__link" href="/Cookie">Cookie Policy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3">
                        <h4 class="c-footer__title">Partners</h4>
                        <ul class="c-footer__links c-links">
                            <li class="c-links__item">
                                <a class="c-links__link" href="#"><img class="c-links__img" src="assets/partner-access.png" alt="Access"></a>
                            </li>
                            <li class="c-links__item">
                                <a class="c-links__link" href="#"><img class="c-links__img" src="assets/partner-visa.png" alt="Visa"></a>
                            </li>
                            <li class="c-links__item">
                                <a class="c-links__link" href="#"><img class="c-links__img" src="assets/partner-ndic.png" alt="Ndic"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="c-footer__bottom">

                    <p class="c-social">
                        <a target="_blank" class="c-social__link fab fa-twitter" href="https://twitter.com/cedicube">Twitter</a>
                        <a target="_blank" class="c-social__link fab fa-facebook-f" href="https://facebook.com/cedicube">Facebook</a>
                        <a target="_blank" class="c-social__link fab fa-medium-m" href="">Medium</a>
                        <a target="_blank" class="c-social__link fab fa-instagram" href="https://www.instagram.com/cedicube/">Instagram</a>
                    </p>

                    <ul class="c-footer__apps c-apps">
                        <li class="c-apps__item">
                            <a href="">
                                <span class="c-apps__link">
                                    <img class="c-apps__img" src="/assets/app-app-store.png" alt="">
                                </span>
                            </a>
                        </li>
                        <li class="c-apps__item">
                            <a href="">
                                <span class="c-apps__link">
                                    <img class="c-apps__img" src="/assets/app-google-play.png" alt="">
                                </span>
                            </a>
                        </li>
                        
                    </ul>

                    <p class="c-footer__copy">
                        <b>*CediCube engages its client with an Airtime raffle every Friday on our social media platforms. </b><br>
                        <b>**CediCube clients can have a reduction on their interest if the pay early.</b>
                    </p>
                    <p class="c-footer__copy">&copy;&nbsp;2020 CediCube Finance. All rights reserved. A</p>
                   

                </div>

            </div>
            <!--/l-container-->

        </footer>
        <!--/c-footer-->

    </div>
    <!--/l-wrapper-->

    <img src="" alt="" style="position: absolute; top: 0; left: 0; width: 100%; opacity: 0.5; z-index: 1001; display: none;">
    <img sc="" alt="" style="position: absolute; top: 0; left: 0; width: 100%; opacity: 0.5; z-index: 1001; display: none;">

    <!-- Plugins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>



    <script>
    var wrapper = document.querySelector('#mainWrapper');


        function stepsScrollingInit(gap) {

            var pageSteps = document.querySelector('#pageSteps'),
                lastScroll = 0,
                $carouselSteps = $('#carouselSteps'),
                carouselSlideCount = $carouselSteps.find('.carousel-item').length,
                carouselSlideActive = 0,
                lastScrollTop = wrapper.scrollTop,
                scrollDirection = 0;


            $(wrapper).on('mousewheel.onepage DOMMouseScroll.onepage touchmove.onepage', function (e) {

                if (lastScroll) return;

                // detect scroll direction
                var currScrollTop = wrapper.scrollTop;
                if (currScrollTop > lastScrollTop) {
                    scrollDirection = 1; //down
                } else {
                    scrollDirection = -1; //up
                }

                var center = pageSteps.getBoundingClientRect().top + pageSteps.clientHeight / 2 - window.innerHeight / 2

                // target block in center of screen
                if (center >= -gap && center <= gap) {
                    if (scrollDirection > 0 && carouselSlideActive < carouselSlideCount || scrollDirection < 0 && carouselSlideActive > 1) {
                        lastScroll = 1;
                        wrapper.scrollBy({
                            top: center,
                            left: 0,
                            behavior: 'smooth'
                        });
                        wrapper.classList.add('is-disabled');
                        var delta = e.originalEvent.wheelDelta || -e.originalEvent.detail;
                        if (delta) {
                            (delta < 0) ? $carouselSteps.carousel('next') : $carouselSteps.carousel('prev');
                        }
                        setTimeout(function () { lastScroll = 0; }, 1000);
                    } else {
                        wrapper.classList.remove('is-disabled');
                    }
                } else {
                    wrapper.classList.remove('is-disabled');
                }

                lastScrollTop = currScrollTop <= 0 ? 0 : currScrollTop;

            });

            // prevent page bouncing on ios devices
            $(document).on('touchmove.onepage', function (e) {
                if (wrapper.classList.contains('is-disabled')) {
                    e.preventDefault();
                }
            });

            // carousel control
            $carouselSteps.swipeEvents('vertical').on({
                'swipeUp': function (e, startEvent) {
                    if (carouselSlideActive == carouselSlideCount) {
                        wrapper.classList.remove('is-disabled');
                    } else {
                        $carouselSteps.carousel('next');
                    }
                },
                'swipeDown': function (e, startEvent) {
                    if (carouselSlideActive == 1) {
                        wrapper.classList.remove('is-disabled');
                    } else {
                        $carouselSteps.carousel('prev');
                    }
                },
                'slide.bs.carousel': function (e) { // update step indicator
                    carouselSlideActive = e.to + 1;
                    document.querySelector('.c-indicators__value').innerHTML = '0' + carouselSlideActive;
                    if (carouselSlideActive == 1 || carouselSlideActive == carouselSlideCount) wrapper.classList.remove('is-disabled');
                }
            });

        }

        //stepsScrollingInit(100);

        // update step indicator
        $('#carouselSteps').on('slide.bs.carousel', function (e) {
            document.querySelector('.c-indicators__value').innerHTML = '0' + (e.to + 1);
        });
        // animate blocks on scroll
        function animatedScrollInit(el, gap) {
            animatedScroll(el, gap, 'init');
            $(wrapper).on('scroll.animated', function () {
                var active = document.querySelectorAll('.is-animated--active');
                if (active) {
                    animatedScroll(el, gap, 'scroll');
                } else {
                    $(wrapper).off('scroll.animated');
                }
            });
        }
        function animatedScroll(el, gap, trigger) {
            var els = document.querySelectorAll(el);
            for (var i = 0; i < els.length; i++) {
                var el = els[i],
                    elTop = el.getBoundingClientRect().top,
                    elLeft = el.getBoundingClientRect().left;
                if (trigger == 'init') {
                    if (elTop < gap && elTop > window.innerHeight - gap && elLeft < 0 && elLeft > window.innerWidth) {
                        el.classList.add('is-animated--active');
                    }
                } else {
                    if (elTop > gap && elTop < window.innerHeight - gap && elLeft >= 0 && elLeft <= window.innerWidth) {
                        el.classList.remove('is-animated--active');
                        var counter = el.querySelector('[data-count]');
                        if (counter && counter.dataset.count !== false) countDown(counter);
                    }
                }
            }
        }

        animatedScrollInit('.is-animated', 150);


        // update animated counter
        function countDown(el) {
            var count = el.dataset.count;

            if (el.dataset.count == 'false') return;
            el.innerHTML = count;

            (function cycle() {
                count = (count - 0.1).toFixed(2);
                if (count >= 0) {
                    el.innerHTML = count;
                    setTimeout(cycle, 20);
                } else {
                    el.dataset.count = false;
                }
            })();
        }


        // features slider init
        var slider = document.querySelector('[data-ride="slider"]');
        rgkSlider(slider);
        slider.addEventListener('change.rgk.slider', function () {
            animatedScroll('.is-animated', 0, 'scroll');
        });


        // contact form control
        var step = 1,
            steps = document.querySelectorAll('[data-step]'),
            form = document.getElementById('contactForm'),
            contactFormProperties = [{
                id: 'userName',
                check: 'name',
                msg: 'Please, enter your name'
            }, {
                id: 'userPhone',
                msg: 'Your phone please'
            }, {
                id: 'userEmail',
                check: 'email',
                msg: 'Your email is not valid'
            }];

        jQuery('#submitBtn').on('click', function (e) {

            e.preventDefault();

            var isFormValid = validateForm(form, contactFormProperties.slice(step - 1, step));

            if (isFormValid) {
                if (step < 3) {
                    step++;
                    stepUpdate();
                } else {
                    submitForm();
                }
            }

        });

        function stepUpdate() {
            for (var i = 0; i < steps.length; i++) {
                steps[i].classList.remove('is-active');
                if (steps[i].dataset.step == step) {
                    steps[i].classList.add('is-active');
                    document.getElementById(contactFormProperties[step - 1].id).focus();
                }
            }
            document.querySelector('#stepNumber').innerHTML = '0' + step;
        }

        // here mut be script of send form to server
        function submitForm() {

            $.post("https://kuda-subscribe.herokuapp.com/", {
                name: $("#userName").val().trim(),
                email: $("#userEmail").val().trim(),
                phone: $("#userPhone").val().trim()
            },
                function (res) {
                    document.getElementById('contactGroup').remove();
                    document.getElementById('contactSuccess').classList.remove('h-hidden');
                })

        }</script>
    <!-- /Individual scripts -->
    <script>

        window.intercomSettings = {
            app_id: "yfeptktb"
        };
    </script>

   
</body>
</html>